:root {
  --primary-color: #edb3b3;
  --secondary-color: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cart-container {
  /* display: flex; */
  background-color: var(--primary-color);
  /* height: 100vh; */
  /* grid-template-columns: 2fr 1fr 1fr; */
  /* gap: 30px; */

  div {
    height: 100%;
    background-color: rgb(165, 154, 154);
  }
}


.product-card {
  border: 2px solid black;
align-items: center;
  /* height: auto; */
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
grid-template-areas: 
"image title buttons" 
"image price buttons"
;

& button {
  grid-area: buttons;
}

& img {
  background-color: black;
  width: 100px;
  height: auto;
  grid-area: image;
}

& h3 {
  width: 100%;
  grid-area: title;
}

& p {
  grid-area: price;
}
}

.buttons-container {
  display: flex;
  align-items: flex-end;
  gap: 10px;
}

.products {

  display: flex;
  flex-direction: column;
  gap: 8px;
}

.back-button{
  border-radius: 5px;
  background-color: var(--primary-color);
  padding: 5px;
border: none;
transition: all 200ms ease-in;

 &:hover {
transform: scale(1.2);
 }
}
